@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}
/* -------------- Class-style ----------------- */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
:root{
    --bg-blue:#4e4ffa;
    --bg-hover: #0102fa;
    --light-black:#444a57;
    --bg-color: #f8f8f8;
    --bg-border: 1px solid #f8f8f8;
}
/* -------------- Class-style ----------------- */

/* -------------- header-style ----------------- */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100000;
}
.navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    display: flex;
    gap: 30px;
}
.logo a{
    font-size: 2.5rem;
    color: #ffffff;
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-menu a{
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
}
.nav-menu a:active{
    color: var(--bg-blue);
}
.nav-menu a:hover,
.nav-menu a:active{
    color: var(--bg-blue);
}
/* -------------- /header-style ----------------- */

/* -------------- hero-style ----------------- */
.hero{
    position: relative;
    top: 0;
    left: 0;
    background: url(/Images/welcome-banner.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.hero::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(42,45,84,.6);
}
.hero-container{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    height: 100vh;
}
.hero-container h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
}
.hero-container p{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
    width: 60%;
}
.h-btn{
    font-size: 1.6rem;
    padding: 16px 60px;
    color: #ffffff;
    background: var(--bg-blue);
    border-radius: 3px;
}
.h-btn:hover{
    background: var(--bg-hover);
}
.hero-bottom{
    position: relative;
    width: 62%;
    margin: auto;
    bottom: 180px;
    background-color: #ffffff;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 10px 40px 0 rgba(38,40,64,.2);
    border-radius: 3px;
}
.h-container {
    padding: 50px 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
}
.h-container div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.custom-select {
	position: relative;
}
.custom-select label{
    font-size: 1.4rem;
    color: var(--light-black);
}
.select-arrow{
    padding-left: 15px !important;
}
.custom-select select{
    padding: 15px;
    border: none;
    background: var(--bg-color);
    border-radius: 5px;
    outline: none;
    color: var(--light-black);
    cursor: pointer;
}
.hero-search{
    margin-bottom: 50px;
}
.hero-search label{
    font-size: 1.4rem;
    color: var(--light-black);
    margin-bottom: 10px;
}
.s-btn{
    height: 60px;
    width: 100%;
    position: relative;
    top: 40%;
    border: none;
    font-size: 1.4rem;
    color: #ffff;
    background: var(--bg-blue);
    cursor: pointer;
}
/* -------------- hero-style ----------------- */

/* --------------- service-style ----------------*/
.service {
    position: relative;
    width: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.service-box {
    border: 1px solid #d7d4d4;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.service-box i {
    font-size: 5rem;
    color: #939497;
    padding-bottom: 20px;
}

.service-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #444a57;
}

.service-box p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #818998;
    max-width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.service-box span {
    display: inline;
    width: 22px;
    height: 3px;
    margin: auto;
    background: #2d2def;
}

.service-box:hover {
    background: #2d2def;
}

.service-box:hover span,
.service-box:hover h3,
.service-box:hover p,
.service-box:hover i {
    color: #ffffff;
}

.service-box:hover span {
    background-color: #d7d4d4;
}

/* --------------- /service-style ----------------*/

/* --------------- NewestCars-style ----------------*/
.newCars{
    position: relative;
    width: 100%;
    height: auto;
    background: #f8f9fb;
    padding: 100px 0; 
}
.newCars-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newcars-title h2{
    font-size: 3.2rem;
    font-weight: 500;
    color: #444a57;
    position: relative;
}
.newcars-title h2::after{
    position: absolute;
    content: '';
    left: 30%;
    right: 50%;
    top: 70px;
    width: 80px;
    margin: auto;
    height: 2px;
    background: #2d2def;
    z-index: 10;
}
.newcars-title p{
    font-size: 1.4rem;
    color: #444a57;
}
.newcars-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newCars-container{
    padding-top: 120px;
}
.newCars-card{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
}
.newCars-content h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: #2a2d54;
    padding-bottom: 20px;
}
.newCars-content p{
    font-size: 1.4rem;
    color: #888f9d;
}
.newCars-content p:nth-child(3){
    padding-top: 20px;
    padding-bottom: 30px;
}
.newCar-btn{
    padding: 16px 40px;
    background: #4e4ffa;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}
.newCar-btn:hover{
    background: var(--bg-hover);
}
/* --------------- /NewestCars-style ----------------*/

/* --------------- feature-style ----------------*/
.feature {
    position: relative;
    width: 100%;
    height: auto;
    padding: 100px 0;
}

.feature-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature-title p {
    font-size: 1.4rem;
    color: #444a57;
}

.feature-title h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: #444a57;
    position: relative;
}

.feature-title h2::after {
    position: absolute;
    content: '';
    left: 30%;
    right: 50%;
    top: 70px;
    width: 80px;
    margin: auto;
    height: 2px;
    background: #2d2def;
    z-index: 10;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 80px;
}

.feature-box {
    position: relative;
}

.feature-info {
    padding: 60px 20px;
    border: 1px solid #cfd0e3;
}

.feature-img-1 {
    background-image: url(/Images/fc1.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-img-2 {
    background-image: url(/Images/fc2.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-img-3 {
    background-image: url(/Images/fc3.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-img-4 {
    background-image: url(/Images/fc4.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-img-4 {
    background-image: url(/Images/fc4.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-img-6 {
    background-image: url(/Images/fc5.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-img-7 {
    background-image: url(/Images/fc7.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-img-8 {
    background-image: url(/Images/fc8.png);
    width: 100%;
    height: 120px;
    background-repeat: no-repeat;
}

.feature-box p {
    border: 1px solid #cfd0e3;
    border-top: none;
    padding: 10px;
    font-size: 1.4rem;
    color: #939497;
}

.feature-content h3 {
    padding-top: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.feature-content span {
    font-size: 1.2rem;
}

.feature-content p {
    border: none;
    padding: 0;
    padding-top: 5px;
    color: #68696c;
    font-size: 1.2rem;
}

/* --------------- /feature-style ----------------*/

/* --------------- client-style ----------------*/
.client {
    position: relative;
    width: 100%;
    height: auto;
    padding: 115px 0 80px;
    background: #f8f9fb;
}

.Client-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Client-title h2 {
    font-size: 3.2rem;
    font-weight: 500;
    color: #444a57;
    position: relative;
}

.Client-title h2::after {
    position: absolute;
    content: '';
    left: 35%;
    right: 50%;
    top: 80px;
    width: 80px;
    margin: auto;
    height: 2px;
    background: #2d2def;
    z-index: 10;
}

.client-conatiner {
    padding-top: 100px;
}

.client-box {
    border: 1px solid #d7d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 30px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.client-box:hover {
    background-color: #4e4ffa;
}

.client-box:hover p,
.client-box:hover h3,
.client-box:hover h4 {
    color: #ffffff;
}

.client-img {
    width: 50px;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 5px;
}

.client-box p {
    font-size: 1.6rem;
    font-weight: 300;
    color: #5e6778;
    padding-bottom: 10px;
    line-height: 1.8;
}

.client-box h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #5e6778;
}

.client-box h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5e6778;
}

/* --------------- /client-style ----------------*/

/* --------------- brand-style ----------------*/
.brand{
    position: relative;
    width: 100%;
    height: auto;
}
.brand-container{
    padding: 100px 20px;
}
.brand-box{
    padding: 0 40px 0;
}
.brand-box a{
    display: inline-block;
    text-decoration: none;
    color: #444a57;
    font-size: 20px;
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
}
.brand-box a img{
    display: block;
    width: 100%;
    height: 52px;
    border-radius: 0;
}
/* --------------- /brand-style ----------------*/

/* --------------- Footer-style ----------------*/
footer {
    position: relative;
    padding-top: 100px;
    background: #2a2d54;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footer-box:nth-child(2) {
    justify-self: center;

}

.footer-title h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-about h3 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 1px;
}

.footer-about p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #eeeff6;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-about h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #d1d7e9;
}

.footer-about span {
    font-size: 1.2rem;
    color: #d1d7e9;
}

.footer-links {
    padding-top: 30px;
    display: flex;
    gap: 50px;
}

.footer-links li {
    padding-bottom: 10px;
}

.footer-links a {
    position: relative;
    font-size: 1.4rem;
    color: #cfd0e3;
}

.footer-news {
    padding-top: 30px;
}

.footer-news p {
    font-size: 1.4rem;
    color: #d1d7e9;
    padding-bottom: 20px;
    line-height: 1.8;
}

.footer-news form {
    position: relative;
    display: flex;
}

.footer-news form input {
    width: 100%;
    background: #26294d;
    display: block;
    padding: 15px 20px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border: 0;
    outline: none;
    color: #fff;
}

.footer-news form input::placeholder {
    color: #666c81;
}

.footer-news form span {
    position: absolute;
    right: 0;
    padding: 15px 20px;
    color: #666c81;
    font-size: 1.2rem;
}

.footer-bottom {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
}

.footBottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(215, 215, 216, 0.2);
    margin: auto;
    margin: 0 30px;
    padding: 25px 0;
}
.footBottom-container p {
    font-size: 1.4rem;
    color: #cfd0e3;
}

.footBottom-container ul {
    display: flex;
    gap: 20px;
}

.footBottom-container li i {
    font-size: 1.4rem;
    color: #cfd0e3;
    cursor: pointer;
}
/* --------------- /Footer-style ----------------*/