@media(max-width: 992px){
    .header{
        height: 80px;
    }
    .navbar{
        background: #111;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        background: #111;
        flex-direction: column;
        padding: 20px 30px;
    }
    .nav-menu.active{
        left: 0;
    }
    .hamburger{
        display: block;
    }
}