@media screen and (max-width:992px){
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    
}
@media screen and (max-width:768px){
    .wrapper{
        padding: 0 20px;
    }
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .client-conatiner {
        padding-top: 100px;
    }
    .brand-container{
        padding: 100px 20px;
    }
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    .footer-box:nth-child(2) {
        justify-self: start;
    
    }
    .footBottom-container {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin: 0 30px;
        padding: 25px 0;
    }
    
}
@media screen and (max-width:568px){
    .wrapper{
        padding: 0 10px;
    }
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .service-box h3 {
        font-size: 1.6rem;
    }
    .service-box p {
        font-size: 1.4rem;
    }

    .Client-title h2 {
        font-size: 2.5rem;
    }
    .Client-title h2::after {
        top: 60px;
    }
    .client-conatiner {
        padding-top: 100px;
    }
    .client-box p {
        font-size: 1.4rem;
    }
    .client-box h3 {
        font-size: 1.4rem;
    }
    .client-box h4 {
        font-size: 1.4rem;
    }
    .brand-container{
        padding: 100px 10px;
    }
    .footer-links{
        flex-direction: column;
        gap: 20px;
    }
    .footer-about h3 {
        font-size: 2.2rem;
        font-weight: 500;
        color: #ffffff;
        letter-spacing: 1px;
    }
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }
    .footBottom-container p {
        font-size: 1.2rem;
        color: #cfd0e3;
    }  
    
}
@media screen and (max-width:400px){
    .service-box i {
        font-size: 4rem;
    }
    .service-box h3 {
        font-size: 1.4rem;
    }
    .service-box p {
        font-size: 1.2rem;
    }

    .Client-title h2 {
        font-size: 2.2rem;
    }
    .Client-title h2::after {
        top: 60px;
    }
    .client-box p {
        font-size: 1.2rem;
    }
    .client-box h3 {
        font-size: 1.2rem;
    }
    .client-box h4 {
        font-size: 1.4rem;
    }
    .footer-about h3 {
        font-size: 2rem;
    }
    .footer-links a {
        font-size: 1.2rem;
    }
    .footer-news p {
        font-size: 1.2rem;
    }
    .footer-about p {
        font-size: 1.2rem;
    }
    .footBottom-container{
        margin: 0 0px;
    }
    .footBottom-container p {
        font-size: 1.2rem;
        color: #cfd0e3;
    }  
}